.size-title {
  font-size: 30px;
}
.size-anker {
  font-size: 22px;
}
.bg-main-color {
  background-color: var(--colorMain);
}
.bg-page-color {
  background-color: var(--bgPage);
}
.c-main-color {
  color: var(--colorMain);
}
.main-color {
  color: var(--colorMain);
}
.w-and-bg-page-color {
  background-color: var(--bgPage);
  width: fit-content;
}
.c-white {
  color: white;
}
.image-header {
  background-image: url(../../assets/images/intro-bg-2.jpg);
}
.of-span-content {
  color: #f9f9f9;
}

.span-icons {
  @apply absolute w-full h-[3px] rounded-[4px] transition-all bg-main-color;
}
.navbra-links {
  @apply absolute left-0 top-[65px] list-none m-0 p-[10px] w-full opacity-0 invisible transition-all
  bg-page-color;
}
.icon-container {
  @apply fixed p-[10px] size-title top-0 flex items-center gap-[.5rem] 
  left-[90px] max-[992px]:left-[60px] max-[767px]:left-[55px] w-and-bg-page-color
  z-[999999999];
}

.header-container {
  @apply h-screen bg-cover bg-no-repeat bg-center relative c-white image-header;
}
.anker-list {
  @apply p-[15px] block no-underline cursor-pointer font-bold transition-all
  rounded-[6px] c-white size-anker hover:bg-white;
}
.content-page {
  @apply flex justify-center items-center h-screen flex-col;
}
.links-social {
  @apply list-none flex justify-between items-center m-0 p-0;
}

header {
  .content-header .icon-title {
    .icon {
      &.show {
        span:first-child {
          top: 8px !important;
          transform: rotate(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:last-child {
          top: 8px !important;
          transform: rotate(-45deg);
        }
      }
    }
    .nvabar {
      @media (min-width: 1200px) {
        & {
          top: 78px !important;
        }
      }
      @media (max-width: 1999px) {
        & {
          top: 79px;
        }
      }
      @media (max-width: 992px) {
        & {
          top: 75px;
        }
      }
      @media (max-width: 767px) {
        & {
          top: 71px;
        }
      }
      @media (max-width: 575px) {
        & {
          top: 66px;
        }
      }
      @media (max-width: 475px) {
        & {
          top: 61px;
        }
      }
      li a:hover {
        color: var(--colorMain);
      }
    }
    .icon.show ~ .nvabar {
      opacity: 1;
      visibility: visible;
    }
  }
  .content-header .content,
  .content-header .links {
    position: relative;
    ul li a:hover {
      color: var(--colorMain);
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #d30565cc;
    backdrop-filter: blur(4px);
  }
}


h3 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #fff; /* مؤشر الكتابة */
  animation: blink 0.7s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

